{% extends "base_template.html" %}

{% set title = "Reset password" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <form action="{{ url_for('reset.reset_password', token=request.view_args['token']) }}" method="POST" id="reset_password_form">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="password">New password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="form-group">
                        <label class="form-label" for="confirm_password">Confirm new password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary" id="submit_button" disabled>Update Password</button>
                </div>
            </div>
            
        </form>
        
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('reset.assets', subfolder='js', filename='scripts.js') }}"></script>
{% endblock %}
