.env
__pycache__/
.idea
uploads/
app.log
.DS_Store
rosemary.egg-info/
build/
.coverage
htmlcov/
.pytest_cache
venv/
ubuntu-bionic-18.04-cloudimg-console.log
.vagrant/
nginx.prod.ssl.conf
.version
entrypoint.sh
deployments.log
test_file.txt