* text=auto
*.sh text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf