.error {
    border: 1px solid red;
}

.alert-warning {
    background-color: #FFF3CD;
    padding: 20px;
    border-radius: 5px;
}

.alert-error {
    background-color: #F9D6D9;
    padding: 20px;
    border-radius: 5px;
}

.fixed-column {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.scrollable-column {
    height: 100vh;
    overflow-y: auto;
}

.rounded-search {
    border: none;
    border-radius: 20px;
    background-color: #f3f6fa;
    font-size: 12px;
    padding: 10px 50px 10px 20px;
}