.error {
    border: 1px solid red;
}

.alert-warning {
    background-color: #FFF3CD;
    padding: 20px;
    border-radius: 5px;
}

.alert-success {
    background-color: #D4EDD9;
    padding: 20px;
    border-radius: 5px;
}

.alert-error {
    background-color: #F9D6D9;
    padding: 20px;
    border-radius: 5px;
}

.fixed-column {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    padding-left: 50px;
}

.scrollable-column {
    height: 200vh;
    overflow-y: auto;
}

.rounded-search {
    border: none;
    border-radius: 20px;
    background-color: #f3f6fa;
    font-size: 12px;
    padding: 10px 50px 10px 20px;
}

.center-button-icon {
    vertical-align: middle;
    margin-top: -2px
}

.card-header-slim {
    padding-bottom: 0px;
}

.card-body-slim {
    padding-top: 0px
}

.card-dark {
    background-color: #2B3947 !important;
    color: #ffffff;
}

.card-header-dark {
    background: inherit;
    color: inherit !important;
}

.card-welcome{
    background: #F68017 radial-gradient(circle at center left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    color: #ffffff;
}

.card-note{
    background: #1ab7ea radial-gradient(circle at center right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
    color: #ffffff;
}

.card-header-welcome {
    background: inherit;
    color: inherit !important;
}

.card-title-light {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    color: white;
    font-size: 17px;
}

.card-title-note {
    margin-left: 1.25rem;
    margin-top: 0.5rem;
    color: white;
    font-size: 35px;
}

.custom-card-body {
    height: 150px;
}

.custom-img {
    padding: 0px 20px;
    max-height: 200px;
    min-height: 200px;
}

