import pytest
from app import create_app, db
from app.blueprints.auth.models import User


@pytest.fixture(scope='module')
def test_client():
    flask_app = create_app('testing')

    with flask_app.test_client() as testing_client:
        with flask_app.app_context():
            db.create_all()

            user_test = User(email='test@example.com')
            user_test.set_password('test1234')
            db.session.add(user_test)
            db.session.commit()

            yield testing_client

            db.session.remove()
            db.drop_all()
