from flask import render_template
from app.blueprints.{{ blueprint_name }} import {{ blueprint_name }}_bp


@{{ blueprint_name }}_bp.route('/{{ blueprint_name }}', methods=['GET'])
def index():
    return render_template('{{ blueprint_name }}/index.html')