from app.blueprints.{{ blueprint_name }}.repositories import {{ blueprint_name | pascalcase }}Repository
from app.services.BaseService import BaseService


class {{ blueprint_name | pascalcase }}(BaseService):
    def __init__(self):
        super().__init__({{ blueprint_name | pascalcase }}Repository())