{% extends "base_template.html" %}

{% block title %}View dataset{% endblock %}

{% block content %}

    <h1 class="h3 mb-3"><b>Team</b></h1>


    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-12 g-4">

        <div class="col">

            <div class="card h-100">
                <img src="{{ url_for('static', filename='img/logos/university_of_seville.svg') }}"
                     class="card-img-top custom-img" alt="University of Seville">
                <div class="card-body custom-card-body">
                    <h5 class="card-title">University of Seville, Spain</h5>
                    <p class="card-text">
                        Performs active development of the application and is responsible for code maintenance,
                        deployment, operation of services and new functionalities.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="http://www.us.es" target="_blank">www.us.es</a>
                </div>
            </div>

        </div>

        <div class="col">

            <div class="card h-100">
                <img src="{{ url_for('static', filename='img/logos/university_of_malaga.svg') }}"
                     class="card-img-top custom-img" alt="University of Malaga">
                <div class="card-body custom-card-body">
                    <h5 class="card-title">University of Malaga, Spain</h5>
                    <p class="card-text">
                        Responsible for active research, technical support
                    </p>
                </div>
                <div class="card-footer">
                    <a href="http://www.uma.es" target="_blank">www.uma.es</a>
                </div>
            </div>

        </div>

        <div class="col">

            <div class="card h-100">
                <img src="{{ url_for('static', filename='img/logos/university_of_ulm.svg') }}"
                     class="card-img-top custom-img" alt="University of Ulm">
                <div class="card-body custom-card-body">
                    <h5 class="card-title">University of Ulm, Germany</h5>
                    <p class="card-text">
                        Provides population of consistent datasets with rich metadata for initial loading of models into
                        UVL. Responsible for the UVL parser. Active research.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="http://www.uni-ulm.de" target="_blank">www.uni-ulm.de</a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('team.scripts') }}"></script>
{% endblock %}