<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Repository of feature models in UVL format integrated with Zenodo and FlamaPy">
    <meta name="author" content="University of Seville">
    <meta name="keywords"
          content="diversolab, uvl, feature models, software product line, university of seville,
           university of malaga, university of ulm, david romero, david benavides, jose a galindo, jose miguel horcas,
chico sundermann">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/icons/icon-250x250.png") }}"/>


    <link rel="canonical" href="https://www.uvlhub.io"/>

	<title>Page not found | {{ FLASK_APP_NAME }}</title>

	<link rel="stylesheet" href="{{ url_for("static", filename="css/app.css") }}">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 style="font-size: 100px">404</h1>
							<p class="lead">
								Page Not Found
							</p>

						</div>

                        <div class="text-center mt-3">
                            <a href="{{ url_for('public.index') }}" class="btn btn-lg btn-primary">Back to home</a>
                        </div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="{{ url_for("static", filename="js/app.js") }}"></script>

</body>

</html>